body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55px calc(100vh - 105px) 50px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}
header {
    grid-area: header;
    background-color:  rgb(208, 215, 219);
    border-bottom: 2px solid rgb(139, 173, 241);
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}
main {
    grid-area: main;
    overflow: auto;
    width: 100%;
}
footer {
    grid-area: footer;
    width: 100%;
    background-color: rgb(208, 215, 219);
    border-top: 2px solid rgb(139, 173, 241);
}
header .container, main .container, footer .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
main .container {
    padding: 0 16px;
}
a {
    color: rgb(19, 73, 87);
    text-decoration: none;
    background-color: rgba(37, 11, 11, 0.2);
}
header ul, footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline-start: 0;
    margin: 8px 0;
    gap: 16px;
    overflow-x: auto;
}
header ul li, footer ul li {
    display: inline-block;
}
header ul li a, footer ul li a {
    padding: 8px 16px;
    display: block;
    border-radius: 8px;
}
header .user-info {
    flex-grow: 1;
    padding: 8px;
    text-align: right;
}
footer .team {
    padding: 8px;
}
.logo {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.paginator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}
.paginator a {
    border: 1px solid #345;
    border-radius: 8px;
    padding: 2px 4px;
}
.paginator .current {
    padding: 2px 4px;
    text-align: center;
}
.search-form {
    margin-bottom: 1rem;
}
.schematic img {
    max-width: 100%;
}
.contact-details {
    padding: 10px;
    line-height: 24px;
}
table {
    width: 100%;
    min-width: 500px;
    overflow-x: auto;
}
table td {
    padding: 4px 8px;
}
.text-center {
    text-align: center;
}