{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "reset password for "|capfirst %}{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "password reset"|title %}</h1>
{% if form.errors %}
    <div class="alert alert-error">{% trans "Error while trying to reset your password. Please try again." %}</div>
{% endif %}
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Reset password"|capfirst %}</button>
</form>
{% endblock content %}