{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Forgot password to" %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "password reset"|title %}</h1>
{% if form.errors %}
    <div class="alert alert-error">{% trans "Error while trying to reset your password. Please try again." %}</div>
{% endif %}
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "reset password"|capfirst %}</button>
</form>
{% endblock content %}