{% extends 'base.html' %}
{% block title %}Contacts in {{ block.super }}{% endblock title %}
{% block content %}
<h1>Contacts</h1>
<div class="contact-details">
<h3>Main office</h3>
    <p>Phone: +370 111 10101
        <br>
        General inquiries: info@rabidus.com
        <br>
        Sales inquiries: sales@rabidus.com
        <br>
        Skype: oepm-service
    </p>
<p>
    Address: Interneto g. 10, LT-10101,
    <br>
    Vilnius, Lithuania
</p>
</div>
<div class="contact-details">
    <h3>Billing information</h3>
    <p>
        Company name: Rabidus, UAB
        <br>
        Comapny code: 101010101
        <br>
        VAT: LT100001010101
        <br>
    </p>
    <p>
        Billing address: Kosmoso 1-11, LT-11111
        <br>
        Vilnius, Lithuania
    </p>
    <p>
        Bank account (IBAN):
        <br>
        LT10 1010 1010 1010 1010
        <br>
        Bank: Swedbank AB
        <br>
        SWIFT code: HABALT11
    </p>





        


{% endblock content %}

