{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "contacts in"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "contacts"|capfirst %}</h1>
<div class="contact-details">
<h3>{% trans "main office"|capfirst %}</h3>
    <p>
        {% trans "phone"|capfirst %}: +370 111 10101
        <br>
        {% trans "general inquiries"|capfirst %}: info@rabidus.com
        <br>
        {% trans "sales inquiries"|capfirst %}: sales@rabidus.com
        <br>
        {% trans "skype"|capfirst %}: oepm-service
    </p>
    <p>
        {% trans "address"|capfirst %}: Interneto g. 10, LT-10101,
        <br>
        Vilnius, {% trans "lithuania"|capfirst %}
    </p>
</div>
<div class="contact-details">
    <h3>{% trans "billing information"|capfirst %}</h3>
    <p>
        {% trans "company name"|capfirst %}: Rabidus, UAB
        <br>
        {% trans "company code"|capfirst %}: 101010101
        <br>
        VAT: LT100001010101
        <br>
    </p>
    <p>
        {% trans "billing address"|capfirst %}: Kosmoso 1-11, LT-11111
        <br>
        Vilnius, {% trans "lithuania"|capfirst %}
    </p>
    <p>
        {% trans "Bank account"|capfirst %} (IBAN):
        <br>
        LT10 1010 1010 1010 1010
        <br>
        {% trans "bank"|capfirst %}: Swedbank AB
        <br>
        {% trans "SWIFT code" %}: HABALT11
    </p>
</div>
{% endblock content %}