{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "welcome to"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="row mt-3 pt-3">
<h1>{% trans "professional OEPM testing"|capfirst %}</h1>
<h3>{% trans "some information about our services"|capfirst %}:</h3>
<ul class='statistics'>
    <li>{{ service_count }} {% trans "services we provide" %}</li>
    <li>{% trans "we have "|capfirst %} {{ customer_count }} {% trans "customers" %}</li>
    <li>{{ done_order_count }} {% trans "of completed orders" %}</li>
</ul>
<br>
<div class="home-chart">
      <canvas id="myChart" width='500' heith="500"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('myChart');
      Chart.defaults.font.size = 14;
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: [{% for data in service_list %} '{{ data }}', {% endfor %}],
          datasets: [{
            label: '',
            data: [{% for number in number_list %} '{{ number }}', {% endfor %}],
            backgroundColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 205, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(201, 203, 207, 1)',
            'rgba(82, 20, 145, 1)',
            'rgba(238, 130, 238, 1)',
            'rgba(78, 91, 91, 1)',
            'rgba(106, 154, 0, 1)'
          ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)',
            'rgb(82, 20, 145)',
            'rgb(238, 130, 238)',
            'rgb(78, 91, 91)',
            'rgb(106, 154, 0)'
          ], 
            borderWidth: 1
          }]
        },
        options: {
          responsive: false,
          {% comment %} scales: {
            y: {
              beginAtZero: true,
            }
          }, {% endcomment %}
          plugins: {
            title: {
              display: true,
              text: 'The standard measurements that are most often ordered'
            }
        }
        }
      });
    </script>
  </div>
  <br>
<h3>{% trans "have questions?"|capfirst %} <a href="{% url 'contacts' %}"> {% trans "contact us" %}</a> {% trans "or leave your" %} <a href="{% url 'customer_data' %}"> {% trans "contact details" %}</a> {% trans "now and a member of our team will contact you shortly." %}</h3>
<h3>{% trans "our team:"|capfirst %}</h3>
<img src="{% static 'service/img/team.png' %}">
{% endblock content %}
{% block style %}
.statistics li { margin: 8px; }
{% endblock style %}