{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Welcome!</h1>
<h3>Some information about our services:</h3>
<ul class='statistics'>
    <li>{{ service_count }} services we provide</li>
    <li>We have {{ customer_count }} customers</li>
    <li>{{ done_order_count }} of completed orders</li>
</ul>
<br>
<h3>Our team:</h3>
<img src="{% static 'service/img/team.png' %}">
{% endblock content %}
{% block style %}
.statistics li { margin: 8px; }
{% endblock style %}