{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "services in"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "services"|capfirst %}</h1>
{% include 'service/includes/search.html' %}
{% if services %}
<ul class="services">
    {% for service in services %}
        <li><a href="{% url 'service' service.id %}">{{ service.name }}</a>
    {% endfor %}
</ul>
<div>
    <canvas id="myChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('myChart');
    Chart.defaults.font.size = 16;
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for data in services %} '{{ data.name }}', {% endfor %}],
        datasets: [{
          label: '',
          data: [{% for data in services %} '{{ data.price }}', {% endfor %}],
          {% comment %} backgroundColor: [
          'rgba(255, 99, 132, 0.8)',
          'rgba(255, 159, 64, 0.8)',
          'rgba(255, 205, 86, 0.8)',
          'rgba(75, 192, 192, 0.8)',
          'rgba(54, 162, 235, 0.8)',
          'rgba(153, 102, 255, 0.8)',
          'rgba(201, 203, 207, 0.8)',
          'rgba(255, 165, 0, 0.8)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)',
          'rgba(255, 165, 0)'
        ],  {% endcomment %}
        borderWidth: 1
        }]
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: 'The prices of services'
          }
        },
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: function(value, index, ticks) {
                return '€' + value;
              }
            }
          }
        }
      }
    });
  </script>
{% with services as page_obj %}
    {% include 'service/includes/paginator.html' %}
{% endwith %}
{% else %}
    <p>{% trans "We do not currently provide any services matching your query." %}</p>
{% endif %}
{% endblock content %}
{% block style %}
.services a { background-color: rgb(255, 255, 255); color: #2065cc; gap:16px; }
.services li { margin: 8px; }
ul.services { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
{% endblock style %}