{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "my orders in"|title %} {{ block.super }}{% endblock title %}
{% block content %}
<img src="{{ request.user.profile.photo.url }}" class="user-profile-img" width="100" height="100" gap="20">
<h1 >{% trans "my orders"|title %}</h1>
<div class="user-orders-table">
    {% if order_list %}
        <table>
            <thead>
                <th>{% trans "date of order submission"|capfirst %}</th>
                <th>{% trans "status"|capfirst %}</th>
                <th>{% trans "total order price"|capfirst %}</th>
            </thead>
            <tbody>
            {% for order in order_list %}
            <tr {% if order.status == 'o' %}class="ordered"{% endif %} >
                <td class="text-center">{{ order.date }}</td>
                <td class="text-center">{{ order.get_status_display }}</td>
                <td class="text-center">{{ order.total_order_price }}</td></tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>{% trans "You do not have any orders yet." %}</p>
    {% endif %}
</div>
<br>
<h3><a href="{% url 'user_order_create' %}">{% trans "new order"|title %}</a></h3>
{% endblock content %}
{% block style %}
h1 { text-align: center; }
{% endblock style %}